.favoritos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.favoritos-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 80%;
  background-color: rgb(250, 217, 223);
  border-radius: 10px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  padding: 16px;
  overflow: hidden;
}

.favoritos-content {
  display: flex;
  align-items: center;
  width: 100%;
}

.favoritos-image {
  flex-shrink: 0;
}

.favoritos-card img.img-prod {
  width: 150px;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.favoritos-container-descricao {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  justify-content: center;
  flex-grow: 1;
}

.favoritos-prod-nome {
  font-weight: bold;
  font-size: 24px;
  margin: 0;
  color: #333;
}

.favoritos-prod-descricao {
  font-size: 16px;
  color: #555;
  margin: 10px 0;
}

.favoritos-actions {
  display: flex;
  align-items: center;
}

.favoritos-actions img {
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.favoritos-actions img:hover {
  transform: scale(1.1);
}



.img-prod {
  border: 1px solid black;
  box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.6);
}
p.favoritos-prod-nome {
  font-weight: bold;
  font-size: 31px;
}


