{% extends 'base.html' %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
<link rel="stylesheet" href="{% static 'detalhesproduto/css/detalhesproduto.css' %}">
{% endblock %}

{% block 'body' %}

{% if messages %}
{% for message in messages %}
<div class="alert {{message.tags}}" id="message">
    {{message}}
</div>
{% endfor %}
{% endif %}
<br>
<br>
<div class="produto-card">
    {% if produto%}
        <div class="produto-imagem">
            {% with produto.imagens.all|first as imagem %}
            {% if imagem %}
                <img src="{{ imagem.imagem.url }}" alt="Imagem principal do produto">
            {% else %}
                <img src="default-image-url.jpg" alt="Imagem padrão do produto">
            {% endif %}
        {% endwith %}
        
        </div>
        <div class="produto-detalhes">
            <h1>{{ produto.ProdutoNome }}</h1>
            <p>{{ produto.ProdutoDescricao }}</p>
            <div class="produto-preco">
                <p>R$ {{ produto.ProdutoValor }}</p>
            </div>
            <div class="produto-acoes">
                <form action="/addfavorito/{{ produto.ProdutoCodigo }}" method="post">
                    {% csrf_token %}
                    <button class="button-actions">Favoritar</button>
                </form>
                <form action="/addCarrinho/{{ produto.ProdutoCodigo }}" method="post">
                    {% csrf_token %}
                    <button class="button-actions">Carrinho</button>
                </form>
            </div>
        </div>
    {% else %}
    <br>
    <h1>Produto não encontrado!</h1>
    {% endif %}
</div>
{% endblock %}
