.endereco-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
}

.endereco-info {
    width: 100%;
}

.endereco-info-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.endereco-info-group div {
    width: 48%;
}

.endereco-info-group div input, 
.endereco-info-group div select, 
.endereco-info-group div textarea {
    width: 100%;
    border-radius: 10px;
    font-size: 20px;
    font-weight: bold;
    padding-left: 14px;
    background-color: #e7e7e7;
    border: 2px solid #ccc;
}

label {
    border-bottom: 1px solid;
    margin-bottom: 12px !important;
    width: 100%;
    font-size: 1.5em;
}

div#complemento {
    width: 100%;
}

.button-actions {
    text-decoration: none;
    color: white;
    padding: 12px 21px;
    display: inline-block;
    margin-top: 20px;
    border: none;
    background-color: #e91e63;
    font-size: 25px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}
