{% extends 'base.html' %}
{% load static %}

{% block 'head' %}

<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
<link rel="stylesheet" href="{% static 'carrinho/css/resumo_compra.css' %}">

{% endblock %}

{% block 'body' %}
<div class="centered-text">
    Resumo da compra
</div>

{% if messages %}
{% for message in messages %}
<div class="alert {{message.tags}}" id="message">
    {{message}}
</div>
{% endfor %}
{% endif %}
<form method="POST" action="{% url 'finalizarpedido' %}">
    {% csrf_token %}
    <div class="resumo-container">
        <div class="resumo-produtos">
            <h2>Produtos no Carrinho</h2>
            {% for produto_carrinho in itens_carrinho %}                
            <div class="produto-card">
                {% with produto_carrinho.ProdutoCodigo.imagens.all|first as imagem %}
                    {% if imagem %}
                        <img class="produto-imagem" src="{{ imagem.imagem.url }}" alt="Imagem do Produto">
                    {% endif %}
                {% endwith %}
                <div class="produto-detalhes">
                    <p class="produto-nome">{{produto_carrinho.ProdutoCodigo.ProdutoNome}}</p>
                    <p>Quantidade: {{produto_carrinho.Quantidade}}</p>
                    <p>Total do item: R$ {{ produto_carrinho.total_por_produto  }}</p>
                </div>
            </div>
            {% endfor %}
            <div class="resumo-total">
                <p>Total do pedido: R$ {{total_pedido}}</p>
            </div>
        </div>

        <div class="resumo-dados">
            <div class="dados">
                <div class="endereco_entrega">
                    <h2>Endereço e Entrega</h2>
                    <div class="caixa">
                        {% if opcao_entrega.OpcaoSelecionada == 0 %}
                            <p class="rua">Rua {{opcao_entrega.EnderecoCodigo.rua}}</p>
                            <p class="endereco">{{opcao_entrega.EnderecoCodigo.cidade}}, {{opcao_entrega.EnderecoCodigo.get_estado_display}}, CEP: {{opcao_entrega.EnderecoCodigo.cep}}</p>
                            <p class="endereco">Número {{opcao_entrega.EnderecoCodigo.numero}}, {{opcao_entrega.EnderecoCodigo.complemento}}</p>
                        {% else %}
                            <p class="local retirada">Deverá se dirigir à loja Cut Cake Shop para retirar seu produto.</p>
                            <p class="local retirada">Endereço da loja:</p>
                            <p class="local retirada">Rua Marechal Deodoro, número 543, ao lado da praça das Ilusões.</p>         
                        {% endif %}
                    </div>
                </div>
                <div class="pagamento">
                    <h2>Pagamento</h2>
                    <div class="caixa">
                        <p>Pagamento escolhido: {% if opcao_pagamento.OpcaoSelecionada == 0 %}Boleto{% else %}Pix{% endif %}</p>
                        {% if opcao_pagamento.OpcaoSelecionada == 0 %}
                            <p>Após avançar a etapa, o boleto será encaminhado para o seu e-mail.</p>
                        {% else %}
                            <p>Após finalizar a compra, o QR code do Pix será exibido em um pop-up.</p>
                        {% endif %}
                    </div>
                </div>
                <div class="dados_recebedor">
                    <h2>Dados do Recebedor</h2>
                    <div class="caixa">
                        <p class="recebedor">Nome: {{user.username}}</p>
                        <p class="recebedor">Telefone: {{user.telefone}}</p>
                        <p class="recebedor">E-mail: {{user.email}}</p>
                    </div>
                </div>
            </div> 
            <div class="resumo-action">
                <input class="button-actions" type="submit" onclick="{% if opcao_pagamento.OpcaoSelecionada == 1 %}abrirPopup(){% endif %}" value="Finalizar compra">
            </div> 
        </div>
    </div> 
</form>

{% block 'javascript' %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    
    function abrirPopup() {
        var img_str = "{{ img_str }}";
        var popup = window.open("", "Popup", "width=400,height=400");
            popup.document.write("<html><head><title>Popup</title></head><body>");
            popup.document.write("<img style=\"width: 355px;\" src="+img_str +" alt=\"QR Code\">");
            popup.document.write("</body></html>");
    }
    
    
    $(document).ready(function(){
        var divs = document.getElementById('opcoes').getElementsByTagName('div');

        for (var i = 0; i < divs.length; i++) {
            divs[i].addEventListener('click', function() {
                for (var j = 0; j < divs.length; j++) {
                    divs[j].classList.remove('selected');
                }
                this.classList.add('selected');
                this.getElementsByTagName('input')[0].checked = true
                if(this.getElementsByTagName('input')[0].value == '0'){
                    document.getElementById('enderecos').classList.remove("desabilita");
                    document.getElementById('retirada').classList.add("desabilita");
                }else{
                    document.getElementById('retirada').classList.remove("desabilita");
                    document.getElementById('enderecos').classList.add("desabilita");
                }
            });
        }       
    });
</script>
{% endblock %}
{% endblock %}